.hol-bg {
  min-height: 97vh;
  width: 97vw;
  background: url('../backgroundlogo.png') no-repeat center center fixed, #f3f4f6;
  background-size: cover;
  display: flex;
  align-items: start;
  justify-content: start;
}

.hol-centerbox {
  background: rgba(255,255,255,0.84);
  box-shadow: 0 8px 36px rgba(40,56,93,0.07);
  border-radius: 16px;
  padding: 44px 34px 36px 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hol-logo {
  width: 240px;
  height: auto;
  margin-bottom: 36px;
  filter: drop-shadow(0 6px 14px rgba(0,0,0,0.13));
}

.hol-btn {
  padding: 16px 42px;
  font-size: 1.16rem;
  margin-top: 15%;
  margin-left: 10%;
  font-weight: 600;
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(99,102,241,0.09);
  transition: background 0.20s;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.hol-btn:hover {
  background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    transition: background 0.20s;
}

/* Responsive */
@media (max-width: 600px) {
  .hol-centerbox {
    width: 90vw;
    min-width: unset;
    padding: 24px 9vw 28px 9vw;
  }
  .hol-logo {
    width: 160px;
    margin-bottom: 26px;
  }
  .hol-btn {
    padding: 12px 16vw;
    font-size: 1rem;
  }
}